
@media only screen and (max-width: 1280px) {
    /*.title-name {
        font-size: 325%;
    }
    .text-box {
        font-size: 110%;
        line-height: 4.5rem;
    }
    .img__img {
        width: 18rem;
    }
    .contactinfo {
        margin: 0rem 5rem;
        font-size: 90%;
    }*/
    html {
        font-size: 9px;
    }
    
}
@media only screen and (max-width: 1120px) {
    
    html {
        font-size: 7.5px;
    }
     
}

@media only screen and (max-width: 950px) {
    
    html{
        font-size: 6.5px;
    }
  }
  @media only screen and (max-width: 800px) {
    
    html {
        font-size: 5.5px;
    }
    
  }
  @media only screen and (max-width: 680px) {
    .about-me {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .link {
        display: block;
        margin-left: 0rem;

    }
    .text-box {
        width: 100%;

    }
    .pic-gallery-wrapper {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    html {
        font-size: 5px;
    }
    
    .work {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .schools,
    .skills,
    .jobs {
        width: 90.5%;
    }
  }
  @media only screen and (max-width: 500px) {
    
    .pic-gallery-wrapper {
        display: inline;
    }

    html {
        font-size: 4.8px;
    }
    
  }
  @media only screen and (max-width: 380px) {

    html {
        font-size: 4px;
    }
    
  }


